* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    color: #000c;
}

/* 
 *
 * Header
 *
 */

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-top: auto;
    font-size: 10rem;
}

header small {
    font-size: 1.5rem;
    margin-bottom: auto;
}

header #to-main {
    color: black;
    font-size: 5rem;
    justify-self: flex-end;
    transition: opacity 0.1s ease-in-out;
}

header #to-main:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* 
 *
 * Main
 *
 */

main {
    min-height: 100vh;
    display: grid;
    grid-template:
        1fr 1fr / 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
    padding: 3rem;
}

main .card {
    /*box-shadow: 2px 2px 4px 4px #0004;*/
    border: 1px solid #0004;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

main .card h3 {
    font-size: 1.5rem;
    color: #000a;
    border-bottom: 1px solid #000a;
    margin-bottom: 0.75rem;
}

main .card p {
    font-size: 1rem;
}

.material-icons, .material-icons-outlined {
    vertical-align: middle;
}

@media only screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

/* 
 *
 * Footer
 *
 */

footer {
    padding: 2rem;
    background-color: #000d;
}

footer * {
    color: white;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}


/* 
 *
 * Responsive font sizes
 *
 */

@media only screen and (max-width: 700px) {
    header h1 {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 550px) {
    header h1 {
        font-size: 5rem;
    }
}
